@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<form method="post">
    <h1 class="title has-text-centered">@ViewData["Title"]</h1>
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="field notification is-success is-light">
                <span class="icon is-left">
                    <i class="fas fa-check" title="Success"></i>
                </span>
                <span>Your email has been confirmed.</span>
            </div>
            <a class="button" asp-page="./Login">
                <span>Continue to log in</span>
            </a>
        </div>
    </div>
</form>
