@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="columns is-centered">
        <div class="column is-6 box">
            <div class="field notification is-success is-light">
                <p>
                    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                </p><br />
                <p>
                    After updating your details, check your email for a link to confirm your registration. If it doesn’t appear within a few minutes, check your spam folder.
                </p>
            </div>
            <div asp-validation-summary="ModelOnly" class="field notification is-danger is-light"></div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" asp-for="Input.DisplayName" placeholder="Display name" autocomplete="off">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user" title="Display name"></i>
                    </span>
                </div>
                <span class="help is-danger" asp-validation-for="Input.DisplayName"></span>
            </div>

            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" asp-for="Input.Email" type="email" placeholder="Email" autocomplete="off">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope" title="Email"></i>
                    </span>
                </div>
                <span class="help is-danger" asp-validation-for="Input.Email"></span>
            </div>

            <div class="buttons">
                <button class="button is-primary" type="submit">
                    <span class="icon is-large is-left">
                        <i class="far fa-paper-plane fa-lg"></i>
                    </span>
                    <span>Save and send verification email</span>
                </button>
            </div>
        </div>
    </div>
</form>

