@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Reset your password";
}

<form method="post">
    <h1 class="title has-text-centered">@ViewData["Title"]</h1>
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="field notification is-success is-light">
                <span class="icon is-left">
                    <i class="fas fa-check" title="Success"></i>
                </span>
                <span>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</span>
            </div>
            <a class="button is-primary" asp-page="./Login">
                <span>Continue to log in</span>
            </a>
        </div>
    </div>
</form>
