@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<section class="section">
    <form method="post">
        <h1 class="title has-text-centered">@ViewData["Title"]</h1>
        <div class="columns is-centered">
            <div class="column is-6 box">
                <div asp-validation-summary="ModelOnly" class="field notification is-danger is-light"></div>

                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" asp-for="Input.Email" type="email" placeholder="Email" autocomplete="off">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope" title="Email"></i>
                        </span>
                    </div>
                    <span class="help is-danger" asp-validation-for="Input.Email"></span>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" asp-for="Input.Password" type="password" placeholder="Password" autocomplete="off">
                        <span class="icon is-small is-left" title="Password">
                            <i class="fas fa-lock" title="Password"></i>
                        </span>
                    </div>
                    <span class="help is-danger" asp-validation-for="Input.Password"></span>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm password" autocomplete="off">
                        <span class="icon is-small is-left" title="Confirm password">
                            <i class="fas fa-lock" title="Confirm password"></i>
                        </span>
                    </div>
                    <span class="help is-danger" asp-validation-for="Input.ConfirmPassword"></span>
                </div>
                <div class="buttons">
                    <button class="button is-primary" type="submit">
                        <span class="icon"><i class="fas fa-save fa-lg"></i></span><span>Save</span>
                    </button>
                </div>

            </div>
        </div>
        <input asp-for="Input.Code" type="hidden" />
    </form>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}







@*<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
