@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="section">
    <form method="post">
        <h1 class="title has-text-centered">@ViewData["Title"]</h1>
        <div class="columns is-centered">
            <div class="column is-6 box">
                <div class="field notification is-success is-light">
                    <span class="icon is-left">
                        <i class="fas fa-check" title="Success"></i>
                    </span>
                    <span>Your password has been reset.</span>
                </div>
                <a class="button" asp-page="./Login">
                    <span>Continue to log in</span>
                </a>
            </div>
        </div>
    </form>
</section>
