@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ReturnURL"] = Url.Page("/index");
}

<div id="main-hero" class="hero is-black is-bold is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column">
                    <div class="content">
                        <section class="section"></section>
                        <section class="section"></section>
                        <section class="section is-mobile"></section>
                        <h1 class="title has-text-primary-light text is-size-1 is-size-4-mobile">Make this god damn movie</h1>
                        <h2 id="mtgdm_subtitle" class="subtitle is-size-3 is-size-6-mobile">The <span class="has-text-link">last best place</span>  for movie posters and box art</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero section has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h1 class="title is-1 is-spaced">Who we are</h1>
                <p class="subtitle is-4">
                    We appreciate the culture of video rental stores, movie theaters, and the art they displayed.
                </p>
            </div>
        </div>
    </div>
</section>

<div id="main-rules" class="section">
    <div class="container has-text-centered">
        <h1 class="title is-1">
            The rules
        </h1>
        <div class="columns is-vcentered">
            <div class="column">
                <div class="box border-light">
                    <p class="title">Concept</p>
                    <p class="subtitle is-4">The movie <span class="title has-text-danger is-4">cannot</span> exist</p>
                </div>
            </div>
            <div class="column">
                <div class="box border-light">
                    <p class="title">Ownership</p>
                    <p class="subtitle is-4">The work <span class="title has-text-danger is-4">must</span> be your own</p>
                </div>
            </div>
            <div class="column">
                <div class="box border-light">
                    <p class="title">Source</p>
                    <p class="subtitle is-4">Assets <span class="title has-text-danger is-4">cannot</span> be copyrighted</p>
                </div>
            </div>
        </div>
    </div>
</div>