
#mtgdm_subtitle {
    color: rgba(255,255,255,.70);
}
.navbar {
    border-radius: 0;
}
#main-Hero {
    background: url(https://d184nsmeqdq57b.cloudfront.net/layout/hero-background.png) center center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.5) url("https://d184nsmeqdq57b.cloudfront.net/layout/hero-background.png") center center;
    background-size: cover;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#section-main {
    padding: 1.5rem;
}

#logoutForm {
    margin: 0;
    padding: 0;
}

.is-google {
    background-color: #4285F4;
}

.is-facebook {
    background-color: #385499;
}

.form-is-clean{
    margin-bottom: 0;
}

.right-left {
    display: flex;
    justify-content: space-between;
}
.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.equal-height .card-content {
    flex: auto;
}

.has-line-breaks {
    white-space: pre-line;
}
.footer {
    padding: 2rem 1.5rem 2rem;
}
@media screen and (max-width:768px) {
    .level-left + .level-right {
         margin-top: 0;
    }
}
.mediabox-img.ls-blur-up-is-loading,
.mediabox-img.lazyload:not([src]) {
    visibility: hidden;
}

.ls-blur-up-img,
.mediabox-img {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;*/
    /* only if you want to change the blur-up option from always to auto or want to use blur up effect without a lowsrc image. */
    font-family: "blur-up: auto", "object-fit: cover";
    object-fit: cover;
}

.ls-blur-up-img {
    filter: blur(10px);
    opacity: 1;
    transition: opacity 300ms, filter 300ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
    opacity: 0;
    filter: blur(5px);
}
.breadcrumb a {
    padding: 0 .5em;
}