
#mtgdm_subtitle {
    color: rgba(255,255,255,.70);
}
.navbar {
    border-radius: 0;
}
#main-Hero {
    background: url(http://dpwif1tvejv9j.cloudfront.net/hero-background.png) center center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.5) url("http://dpwif1tvejv9j.cloudfront.net/hero-background.png") center center;
    background-size: cover;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#logoutForm {
    margin: 0;
    padding: 0;
}
#signin-google {
    background-color: #4285F4;
}

#signin-facebook {
    background-color: #385499;
}