
#mtgdm_subtitle {
    color: rgba(255,255,255,.70);
}
.navbar {
    border-radius: 0;
}
#main-Hero {
    background: url(https://dpwif1tvejv9j.cloudfront.net/hero-background.png) center center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.5) url("https://dpwif1tvejv9j.cloudfront.net/hero-background.png") center center;
    background-size: cover;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#section-main {
    padding: 1.5rem;
}

#logoutForm {
    margin: 0;
    padding: 0;
}

.is-google {
    background-color: #4285F4;
}

.is-facebook {
    background-color: #385499;
}

.form-is-clean{
    margin-bottom: 0;
}

.right-left {
    display: flex;
    justify-content: space-between;
}
.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.equal-height .card-content {
    flex: auto;
}

.has-line-breaks {
    white-space: pre-line;
}
.footer {
    padding: 2rem 1.5rem 2rem;
}
@media screen and (max-width:768px) {
    .level-left + .level-right {
         margin-top: 0;
    }
}
