@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<form id="change-password-form" method="post">
    <div class="columns">
        <div class="column is-8">
            <div class="title is-5 has-text-centered">@ViewData["Title"]</div>
            <div asp-validation-summary="ModelOnly" class="field notification is-danger is-light"></div>
            @if (!string.IsNullOrEmpty(Model.StatusMessage))
            {
                <div class="field notification is-success is-light">
                    <span class="icon is-left">
                        <i class="fas fa-check" title="Success"></i>
                    </span>
                    <span>@Model.StatusMessage</span>
                </div>
            }
        <div class="content">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" asp-for="Input.OldPassword" placeholder="Old password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <span class="help is-danger" asp-validation-for="Input.OldPassword"></span>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" asp-for="Input.NewPassword" placeholder="New password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <span class="help is-danger" asp-validation-for="Input.NewPassword"></span>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" asp-for="Input.ConfirmPassword" placeholder="New password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <span class="help is-danger" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <div class="buttons">
                <button class="button is-primary" type="submit">
                    <span class="icon is-small is-left">
                        <i class="fas fa-save"></i>
                    </span>
                    <span>Update password</span>
                </button>
            </div>
        </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}