
<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <h5>&copy; @DateTime.Now.Year - mtgdm</h5>

                    <p class="is-size-7">
                        <span><a asp-page="/Privacy">Privacy</a></span>
                        <span>&nbsp; · &nbsp;</span>
                        <span><a asp-page="/Cookies">Cookie policy</a></span>
                    </p>
                    <p class="is-size-7">Powered by 
                        <a class="has-text-danger" target="_blank" rel="noreferrer" href="https://github.com/ZombieFleshEaters/mtgdm">
                            <span class="icon has-text-danger"><i class="fas fa-heart"></i></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
