@page
@model mtgdm.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
    ViewData["ReturnURL"] = Url.Page("/Admin/Index");
}

<div class="columns is-vertical">
    <div class="column">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a asp-page="/Admin/Index">Admin</a></li>
            </ul>
        </nav>
    </div>
    <div class="column">
        <div class="level">
            <div class="level-left"></div>
            <div class="level-right">
                <div class="buttons">
                    <a class="button is-primary is-small is-rounded" asp-page="/Admin/SystemValues/List">
                        <span class="icon">
                            <i class="fas fa-cog fa-lg fa-fw"></i>
                        </span>
                        <span>&nbsp; System values</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">@Model.TotalShowpieces</p>
            <p class="subtitle">Total showpieces</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">@Model.TotalUsers</p>
            <p class="subtitle">Total users</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">@Model.TotalRatings</p>
            <p class="subtitle">Total Ratings</p>
        </article>
    </div>
</div>